@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Search Pizzas (watch the console for results)</h1>
</div>

<form id="searchForm">
    <div class="row g-3">
        <div class="col-md-4">
            <label for="searchQuery" class="form-label">Search by name:</label>
            <input type="text" class="form-control" id="searchQuery">
        </div>
        <div class="col-md-8 align-self-center">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
    axios.get('api/pizzas')
        .then(response => {
            console.log(response.data);
        });
    
    let searchForm = document.getElementById("searchForm");
    searchForm.onsubmit = (e) => {
        e.preventDefault();
        
        let queryParam = document.getElementById("searchQuery").value;
        
        axios.get('api/pizzas', { params: { name: queryParam } })
                .then(response => {
                    console.log("FILTERED PIZZAS");
                    console.log(response.data);
                });
    };
    </script>
}
